body {
    background-color:aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20;
}
h1 {
color: black;
background-color: cadetblue;    
}
h2 {
color: black;
background-color: cadetblue;
}